*{
    margin: 0;
    padding: 0;

}
a{
    color: rgb(60, 60, 212);
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}
.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    }
nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui,-apple-system, 'Helvetica Neue',Arial, sans-serif;
    background:#ffffff;
    height: 8vh;
    border-bottom: 2px solid #5121c0b7;
    
}
.conteinerBox{
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #020B10;
    color: #ffffff;
}
.box{
    padding: 30px;
    display: flex;
    width: 100%;
    margin: 20px 0 20px;
    justify-content: space-evenly;
    margin: solid black;
}

.nav-list{
    list-style: none;
    display: flex;

}
.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}
.conteinerCard{
    background-color: #AF40FF;
}
.textoCard{
    text-align: center;
    margin-top: 10%;
    /* background-color: rgba(0, 0, 0, 0.541); */
    color: white;
}
.card{

    flex-direction: row;
    width:100%;
    height: auto;
    align-items: center;
    border: none;
    /* background-color: rgba(0, 0, 0, 0.541); */


}

.card img{
    width: 100%;
    height: 100%;

}
.card1{
    margin: 20px;
    border: solid rgb(233, 233, 233) 1px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.card2{
    margin:20px;
    border: solid rgb(38, 18, 44) 1px; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card3 {
    margin: 20px;
    border: solid rgb(233, 233, 233) 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn{
 position: relative;
margin-top: -28%;
 --glow-color: rgb(217, 176, 255);
 --glow-spread-color: rgba(191, 123, 255, 0.781);
 --enhanced-glow-color: rgb(231, 206, 255);
 --btn-color: rgb(100, 61, 136);
 border: .25em solid var(--glow-color);
 padding: 3% 5%;
 color: var(--glow-color);
 font-size: 15px;
 font-weight: bold;
 background-color: var(--btn-color);
 border-radius: 1em;
 outline: none;
 box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
 text-shadow: 0 0 .5em var(--glow-color);
 position: relative;
 transition: all 0.3s;
}

button::after {
 pointer-events: none;
 content: "";
 position: absolute;
 top: 120%;
 left: 0;
 height: 100%;
 width: 100%;
 background-color: var(--glow-spread-color);
 filter: blur(2em);
 opacity: .7;
 transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

button:hover {
 color: var(--btn-color);
 background-color: var(--glow-color);
 box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

button:active {
 box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}

footer{
    background-color: #ffffff;
    /* position:fixed; margin top conserta o footer */
    margin-top: 5%;
    height:auto;
    width: 100vw; 
    bottom:0;
    left:0;
    font-family:  system-ui,-apple-system, 'Helvetica Neue',Arial, sans-serif;
    padding-top: 40px;
    color: rgb(60, 60, 212);
    
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;

}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:1 rem 0 3rem 0 ;
}
.socials li{
    margin:0 20px;
}
.socials a{
    text-decoration: none;
    color: rgb(211, 38, 182);;
}
.socials a i {
    font-size: 2rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: rgb(60, 60, 212);
}
.footer-bottom {
  
    width: 100vw;
    padding: 20px 0;
    text-align: center;
    padding-top: 20px;
    

}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px ;
    text-transform: capitalize;
    padding-top: 3rem;

}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;

}
@media (max-width:500px){
   
}
