*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
}
main{
    margin-top: 20px;
    margin-bottom: 20px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: none;
    
    
    padding-right: auto;
    background-attachment: fixed;
    background-size: cover;
    background-image: linear-gradient(to left top, #b4b5cf, #b8b9d0, #bcbed1, #c0c2d2, #c4c6d3, #bfc3d5, #bac0d6, #b5bdd8, #a4b2db, #91a8de, #7c9ee0, #6394e3);
    
    font-family:sans-serif;
   
    
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

}



label{
    
    color: #fcfcfc;
    background: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    
}
.input box{
    margin-bottom: 5px;
}
 
.inputuser{
    
    display: block;
    margin-bottom: 5px;
    border: none;
    border-radius: 20px;
    box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
    
    font-size: inherit;
    height: 32PX;
    width: 400px;
    outline: none;
    
    position: relative;
    

    padding-inline-end: 10px;
    padding-inline-start: 16px;
   
    
}

    
button{
    
    
    color: #bdc2d6;
    background-color: #302f8b;

    width: 100px;
    height: 32px;
   
    border: none;
    border-radius: 30px;
    box-shadow: 10px 10px 14px 1px rgb(0 0 0 / 20%);
      
    font-family: inherit;
    cursor: pointer;
    font-size: 0.97em;
    letter-spacing: 0.094em;
     
    
}
legend{
    width: 400px;
    border:1px solid white;
    padding: 10px;
    text-align: center;
    
    border-radius: 20px;
    background-image: none;
   color: #ffffff;
}
h1{
    color: #ffffff;
    font-family: inherit;
    font-size: inherit;
}


a{
    color: rgb(60, 60, 212);
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    }
    
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui,-apple-system, 'Helvetica Neue',Arial, sans-serif;
    background:#ffffff;
    height: 8vh;
    border-bottom: 2px solid #5121c0b7;
    
}

/* main{
    background-image: linear-gradient(to right top, #e10ef6, #c119de, #a31cc6, #861bae, #6b1995, #5d1d8e, #4f1f86, #42207e, #3a2885, #302f8b, #223691, #093c96);
    background-size: cover;
    height: 92vh;
} */

.nav-list{
    list-style: none;
    display: flex;

}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}


footer{
    display: block;

    position: relative;
    
    left:0;
    right:0;



    background-color: #ffffff;
    height: auto;
    width: 100vw;
    font-family:  system-ui,-apple-system, 'Helvetica Neue',Arial, sans-serif;
    padding-top: 40px;
    color: rgb(60, 60, 212);

}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;

}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:1 rem 0 3rem 0 ;
}
.socials li{
    margin:0 20px;
}
.socials a{
    text-decoration: none;
    color: rgb(211, 38, 182);;
}
.socials a i {
    font-size: 2rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: rgb(60, 60, 212);
}
.footer-bottom {
  
    width: 100vw;
    padding: 20px 0;
    text-align: center;
    padding-top: 20px;
    

}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px ;
    text-transform: capitalize;
    padding-top: 3rem;

}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;

}